
#navi {
    background-color: #000;
}
  a:visited { text-decoration: none; }
  a:hover { text-decoration:3px underline #000; text-underline-offset: 4px;}
  a:active { text-decoration: none;
}
.navbar > .container {
        font-family: "Poppins";
        src: url("poppins-regular.ttf") format("truetype");
}
hr.style {
	border-top: 2px solid black;
	text-align: center;
}
h1 {
        font-family: "Nightfall";
        src: url("nightfall-regular.ttf") format("truetype");
        font-size: 130px;
        color: black;
        letter-spacing: -6px;
}
body {
background-color: black;
}
#card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}
#card-container > div {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Poppins Light";
    src: url("poppins-light.ttf") format("truetype");
    width: 450px;
}
#card-container > div > img {
  height: 350px;
  width: 300px;
  align-self: center;
}
.container-fluid {
     font-family: "Poppins";
     src: url("poppins.ttf") format("truetype");
}
#beschreibung > p {
        font-family: "Poppins";
        font-size: 40px;
}
