body {
	background-color: black;
	color: white;
	font-family: "Metana";
	src: url("neuemetana-regular.otf") format("truetype");
}

@font-face {
    font-family: "Neue Metana";
    src: url(NeueMetana-Regular.otf);
  }

.navbar>.container {
	font-family: "Neue Metana";
	src: url("neuemetana-regular.otf") format("truetype");
	padding-top: 20px;
	font-size: 10px;
}

h1 {
	font-family: "Neue Metana";
	src: url("neuemetana-regular.otf") format("truetype");
	font-size: 130px;
	font-weight: lighter;
	color: white;
}

h2 {
	font-family: "Neue Metana";
	src: url("neuemetana-regular.otf") format("truetype");
	font-size: 100px;
	color: white;
}

h3 {
 	display: flex;
  	justify-content: space-between;
	font-family: "Neue Metana";
	font-size: 25px;
	font-weight: 100;
	line-height: normal;
	padding-top: 0px;
}

#button2 {
	font-family: "Neue Metana";
	font-size: 17px;
	background-color: tomato;
	border-radius: 0cm;
	border-color: tomato;
}

#button2:hover {
  background-color: #555f41;
  border-color: #555f41;
}

footer {
	font-family: "Neue Metana";
	font-size: 21px;
	display: flex;
	align-items: center;
  background-color: #ccc;
}

#exhi {
  font-family: "Neue Metana";
	font-size: 21px;
	display: flex;
	align-items: center;
}

#form-control {
	color: #000;
	font-size: 18px;
	border-color: black;
}

input {
	border: 1px solid black;
	width: 200px;
	height: 40px;
	font-family: "Neue Metana";
	border-color: #ccc;
	font-size: 18px;
	padding-left: 15px;
}

::-moz-selection {
	background: #555f41;
}

::selection {
	color: #555f41;
	background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid white;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
  font-family: "Neue Metana";
}

#a2 {
  color: black;
  text-decoration: none;
  position: relative;
  font-family: "Neue Metana";
}


a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  color: black!important;
  background-color: #b0a6cb;
  z-index: -10;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover:before {
  transform: scaleX(1);
  z-index: -10;
}

a:color::before {
	color: black; 
	transform: scaleX(1);
}

a:hover {
  color: black;
  z-index: 1!important;
}

.card-bg {
  background-color: #b0a6cb;
  margin-right: 70px;
  border-radius: 0px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 60px;
  -webkit-transition: .4s;
  transition: .4s;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 60px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b0a6cb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b0a6cb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*Side menu */


.navbar-toggler {
   border: none;
   background-color: tomato;
   outline: none;
   cursor: pointer;
   border-radius: 0cm;
   margin-top: -15px;
}

.side-menu {
  position: fixed;
  margin-top: 70px;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 999;
  overflow-x: hidden;
  transition: 1.5s;
  background-color: tomato;
}

.side-menu label {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

.side-menu .menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.side-menu .menu-links a {
  font-size: 40px;
  margin: 20px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.side-menu .menu-links a:hover {
  color: #b0a6cb;
}

.active {
   content: '';
    display: block;
    margin-top: 70px;
    height: 100%;
    position: absolute;
    transition: all 0.8s ease-out;
    width: 100%;
}

.side-menu ul {
   list-style: none; /* Remove bullet points */
   margin-left: 12px;
   padding: 0;
   white-space: nowrap;
}


/* Default style */
.logo::before {
  content: "RIJKSMUSEUM";
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  /* Hide "rijksmuseum" text */
  .logo {
     content: "RM";
    display: inline-block;
  }
  /* Display "RM" text */
  .logo::before {
    content: "RM";
    display: inline-block;
  }

  h1 {
    font-size: 60px;
  }

   h2 {
    font-size: 60px;
  }

   h3 {
    font-size: 16px;
    width: 340px;
  }
}


.banner {
  position: fixed;
  top: 100;
  right: 100%;
  background-color: #b0a6cb;
  color: white;
  padding: 10px;
  text-align: center;
  animation: banner-slide 6s linear infinite;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
