body {
	background-color: black;
	color: white;
	font-family: "Metana";
	src: url("neuemetana-regular.otf") format("truetype");
}


.navbar>.container {
	font-family: "Neue Metana";
	src: url("neuemetana-regular.otf") format("truetype");
	padding-top: 20px;
	font-size: 10px;
}

h1 {
	font-family: "Neue Metana";
	src: url("neuemetana-regular.otf") format("truetype");
	font-size: 130px;
	font-weight: lighter;
	color: #e1ff17;
}

.card h2 {
	color: white
}

h2 {
	font-family: "Neue Metana";
	src: url("neuemetana-regular.otf") format("truetype");
	font-size: 130px;
	color: white;
}

h3 {
 	display: flex;
  	justify-content: space-between;
	font-family: "Neue Metana";
	font-size: 25px;
	font-weight: 100;
	line-height: normal;
	padding-top: 0px;
}

img {
  margin-right: 10px;
  width: 60px;
  padding-top: 8px;
}

#button-addon2 {
	font-family: "Neue Metana";
	font-size: 17px;
	background-color: black;
	border-radius: 0cm;
	border-color: black;
}

#footer {
	font-family: "Neue Metana";
	font-size: 21px;
	display: flex;
	align-items: center;
}

#form-control {
	color: #000;
	font-size: 18px;
	border-color: black;
}

input {
	border: 1px solid black;
	width: 200px;
	height: 40px;
	font-family: "Neue Metana";
	font-size: 18px;
	padding-left: 15px;
}

.link {
	font-family: "Poppins Light";
	color: black;
	text-decoration: none;
}

#beschreibung {
	font-family: "Poppins Light";
	font-size: 8px;
}

::-moz-selection {
	background: tomato;
}

::selection {
	color: black;
	background: tomato;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid white;
}

a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color:  #e1ff17;
  color: black!important;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover:before {
  transform: scaleX(1);
}

a:hover {
  color: black!important;
}

h3:hover {
	color: black; 
}